body {
font-family: Arial, sans-serif;
background-color: #fff;
}
      
.container {
padding: 50px;
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
h1 {
text-align: center;
color:#800000
}
      
button{
padding: 13px 25px;
background-color: #800000;
color: #fff;
border: none;
cursor: pointer;
border-radius: 20px;
margin: 10px;
display: inlineblock;
}