body {
font-family: Arial, sans-serif;
background-color: #fff;
}
  
.container {
max-width: flex;
margin: 0 auto;
padding: 50px;
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
h1 {
text-align: center;
}
  
.trivia, .number-checker {
margin-bottom: 20px;
}
  
input[type="text"] {
width: 100%;
padding: 10px;
margin-bottom: 10px;
}
  
button {
padding: 10px 20px;
background-color: #800000;
color: #fff;
border: none;
cursor: pointer;
}
  
#triviaResponse, #numberResponse {
margin-top: 10px;
font-weight: bold;
}